<div class="col-xs-10 col-xs-offset-1 about">
  <h1>About Splurty</h1>

  <p>
    Splurty was built by <a target="_blank" href="http://github.com/akanevallery">Akane</a>, a financial markets professional in London learning every day towards becoming a full stack web developer. 
  </p>
  <br />
  <p>
    If you want to lear how to code - start <a target="_blank" href="http://thefirehoseproject.com/">here</a>.
  </p>

  <div class="col-xs-12 col-sm-4">
    <%= image_tag 'akane.jpeg', class: 'img-responsive' %>
  </div>

  <div class="col-xs-12 col-sm-7 col-sm-offset-1">
    <h2 class="text-center">Akane Vallery Uchida</h2>
    <br />
    <p>
      Akane is a web developer looking for new opportunities ideally in the FinTech space. After almost ten years working in financial services in diverse roles from news reporter through research analyst to sales, she is looking for a new challenge.
    </p>
  </div>

</div>

<br class="clear" />
<br />
<br />
<br />
<br />

